<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
	<!--<appSettings file="c:\ReadOnlyRemover\ReadOnlyRemover.config.xml">
	</appSettings>-->
	<appSettings file=".\ReadOnlyRemover.config">
	</appSettings>
	<!--<appSettings file="..\..\..\ReadOnlyRemoverService\ReadOnlyRemover.config">
	</appSettings>-->
	
</configuration>