<?xml version="1.0" encoding="utf-8"?>
<appSettings>

	<!-- ========================================================================== -->
	<!--                        Paths to Remove Readonly                            -->
	<!-- ========================================================================== -->

	<!-- The "Paths" entry is a newline and whitespace separated string of paths.  The service is unaffected by whitespace 
		     in this config setting, so use it liberally to format the values.  You can enter either a directory
			 path or a file path.  The service ignores directories and files that don't exist (but it will log an exception). 
			 Directories are watched recursively, and no distinction is made for hidden files. -->

	<add key="Paths" value="C:\My\Path\To\A\Directory
							C:\My\Path\To\A\File.txt" />

    <!-- ========================================================================== -->
	<!--                              Logging Settings                              -->
	<!-- ========================================================================== -->

	<!-- For ShouldLogActivity and ShouldLogErrors, a value of "true" will enable logging
		     for that type of logging (disregarding case and leading/trailing whitespace).
			 Any other value, or a commented out entry will disable logging.-->
	<add key="ShouldLogActivity" value="false" />
	<add key="ShouldLogErrors" value="false" />
	<!-- If LogOutputDirectory is not a valid directory, it will attempt to create it.
		     If this config key is commented out, the log file will be created in the 
			 same location as the executable running the service.-->
	<add key="LogOutputDirectory" value="" />
	<!-- If LogFileName is commented out, or just whitespace, it will default to "ReadOnlyRemover".
		     The log extension is .log and is added automatically.  Don't include the log extension
			 in the LogFileName. -->
	<add key="LogFileName" value="" />

	<add key="ClientSettingsProvider.ServiceUri" value="" /> <!-- I forget what this is for lol --> 

</appSettings>
